@page "/chatrooms/{id:guid}"
@using System.Security.Claims;
@using ChatJaffApp.Client.ChatRoom.MyChatRooms.Contracts;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Text.Json;
@using Blazor.SubtleCrypto;
@inject AuthenticationStateProvider authStateProvider
@inject HttpClient httpClient;
@inject NavigationManager navigation
@inject ICryptoService Crypto;
@inject IChatRoomsService _chatRoomsService
@attribute [Authorize]
<h3>Welcome</h3>

<div>
    <p>Your Messages:</p>
    @if (Messages != null)
    {
        <ul data-testid="messagesinchatlist" style="list-style-type: none;">
        @foreach (var message in Messages)
        {
            <li style="padding: 5px; background-color: @(MessageDto.UserName == message.UserName ? "green" : "cornflowerblue"); color: whitesmoke; margin-bottom: 5px; max-width: 300px;display: flex;
                    justify-content: center; align-items: center; flex-direction: column;">
                <h4 data-testid="messagecontent" style="font-size: 15px;">@message.UserName says @message.Content</h4>
                <p data-testid="messagetimestamp" style="font-size: 10px;">Sent: @message.Sent</p>
            </li>
        }
        </ul>
    }
</div>
<div>
    <InputTextArea data-testid="messageinputarea" maxlength="150" @bind-Value="MessageDto.Content" />
    <button data-testid="sendmessagebtn" @onclick="onSendMessageClick" class=" btn btn-primary">Send</button>
</div>
<div>
    <button style="margin-top: 5px" class="btn btn-primary" @onclick="onSettingsClick">Settings</button>
</div>


@code {
    [Parameter]
    public Guid Id { get; set; }
    public SendMessageDto MessageDto { get; set; } = new();
    private string ErrorMessage { get; set; } = string.Empty;
    private List<ReceiveMessageDto> Messages { get; set; } = new();
    private bool Encrypted { get; set; } = false;

    private EncryptionManager keeperOfSecrets = new();

    private HubConnection? hubConnection;
    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;


    protected override async Task OnInitializedAsync()
    {

        var state = await authStateProvider.GetAuthenticationStateAsync();
        var userId = state.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        var username = state.User.FindFirst(ClaimTypes.Name).Value;

        MessageDto.UserId = Guid.Parse(userId);
        MessageDto.UserName = username;

        var url = navigation.ToAbsoluteUri("/chathub");

        //get current chatroom for encryption bool check

        //if (Guid.TryParse(userId, out Guid parsedId))
        //{
        //    var userChats = await _chatRoomsService.GetMyChats(parsedId);
        //    var currentChat = userChats.Find(x => x.Id == Id);
        //    Encrypted = currentChat.Encrypted;

        //}
        ///
        //Get specific chat

        var currentChat= await _chatRoomsService.GetCurrentChatRoom(Id);
        Encrypted = currentChat.Encrypted;

        //
        hubConnection = new HubConnectionBuilder()
            .WithUrl(url)
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<string>("ReceiveMessage", async (response) =>
        {
            var deserializedResponse = JsonSerializer.Deserialize<ReceiveMessageDto>(response);

            //if (!Encrypted)
            //{
            //    deserializedResponse.Content = await Crypto.DecryptAsync(deserializedResponse.Content);
            //}

            Messages.Add(deserializedResponse);
            await InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string>("MemberJoined", (message) =>
        {
            ReceiveMessageDto memberJoinedResponse = new()
            {
                UserName = "System",
                Content = message,
                Sent = DateTime.UtcNow
            };

            Messages.Add(memberJoinedResponse);
            InvokeAsync(StateHasChanged);
        });        
        await hubConnection.StartAsync();
        await hubConnection.SendAsync("AddToGroup", Id);
    }

    private async Task onSendMessageClick()
    {

        if (string.IsNullOrEmpty(MessageDto.Content))
        {
            ErrorMessage = "Message can not be empty";
            //ta bort meddelande efteråt
        }
        else {
            if (Encrypted)
            {

                var cryptoResult = await Crypto.EncryptAsync(MessageDto.Content);
                MessageDto.Content = cryptoResult.Value;
                var secret = cryptoResult.Secret;
            }
            //MessageDto.Encrypted = Encrypted;
            var messageModelToJson = JsonSerializer.Serialize(MessageDto);
            await hubConnection.SendAsync("SendMessageAsync", messageModelToJson, Id);

            MessageDto.Content = string.Empty;
        }

    }

    private void onSettingsClick()
    {
        navigation.NavigateTo($"/chatrooms/chat/settings/{Id}");
    }

    public class SendMessageDto
    {
        public Guid UserId { get; set; }
        public string Content { get; set; }
        public string UserName { get; set; }
        //public bool Encrypted { get; set; }
    }

    public class ReceiveMessageDto
    {
        public Guid Id { get; set; }
        public string? UserName { get; set; }
        public string? Content { get; set; }
        public DateTime Sent { get; set; }
    }

    
}