@page "/chatrooms/{id:guid}/settings/"
@using ChatJaffApp.Client.ChatRoom.Components
@using ChatJaffApp.Client.ChatRoom.Member.Models;
@using ChatJaffApp.Client.ChatRoom.MyChatRooms.Contracts;
@using System.Security.Claims;
@using ChatJaffApp.Client.ChatRoom.MyChatRooms.Models;
@using static ChatJaffApp.Client.ChatRoom.MyChatRooms.Services.ChatRoomsService;
@inject IMemberService memberService
@inject IChatRoomsService chatRoomService
@inject AuthenticationStateProvider authenticationStateProvider;
@inject NavigationManager navManager;

<div>
    <container>
        <h2>
            Members
        </h2>
        <div class="card" style="width: 18rem; ">
        <div class="card-header">
            Chat members
        </div>
        <ul class="list-group list-group-flush">
            @if (ChatMembers != null || ChatMembers?.Count < 1)
            {
                @foreach (var member in ChatMembers)
                {
                    <li class="list-group-item"><p>@member.Username</p><button class="btn btn-danger btn-sm" @onclick="() => DeleteMemberFromChat(member)">Remove</button> </li>
                }
            }
            else
            {
                <p>No users</p>
            }
        </ul>
</div>
        
        <br><br>
        <h2>Change chat name</h2>
        <input type="text" />
        <br><br>
        <h2>Add Member</h2>
        <FindMemberForChat CurrentChatMembers="ChatMembers" OnFoundMember="HandleFoundMember"></FindMemberForChat>

        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <p>@ErrorMessage</p>
        }

        @if (IsModerator)
        {
            <button class="btn btn-danger" @onclick="() => OnDeleteChat()">Delete Chat</button>
        }
    </container>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }
    public Guid UserId { get; set; }
    public bool IsModerator { get; set; }
    public List<ChatMemberViewModel> ChatMembers = new();
    public string? ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var chatRoom = await chatRoomService.GetChatRoom(Id);
        var user = await authenticationStateProvider.GetAuthenticationStateAsync();
        UserId = Guid.Parse(user.User.FindFirst(ClaimTypes.NameIdentifier).Value);
        ChatMembers = chatRoom.ChatMembers;
        IsModerator = UserId == chatRoom.CreatorId;
    }

    public async Task DeleteMemberFromChat(ChatMemberViewModel memberToDeleteFromChat)
    {

    }

    public async Task OnDeleteChat()
    {
        if (!IsModerator)
        {
            ErrorMessage = "Not allowed";
        }

        var result = await chatRoomService.DeleteChat(Id);

        if (!result)
        {
            ErrorMessage = "Something went wrong";
        }

        navManager.NavigateTo("/chatrooms");
    }

    public async Task HandleFoundMember(ChatMemberViewModel memberToAddToChat)
    {
        AddMemberDto addMemberDto = new()
        {
            UserId = memberToAddToChat.UserId,
            ChatId = Id
        };

        var memberResponse = await memberService.AddChatMember(addMemberDto);

        if (!memberResponse.Success)
        {
            ErrorMessage = memberResponse.Message;
            return;
        }
        
        ChatMembers.Add(memberToAddToChat);
    }
}
