@page "/About"

<div>
    <h2>About ChatJaff:</h2>
    <p>ChatJaff is not your average chat company. We are a group of forward-thinking tech enthusiasts who have come together to create the future of messaging. Our platform provides a secure and reliable way for people to communicate across different devices and platforms. And that's not all - we use state-of-the-art encryption to make sure your conversations are kept private and secure.</p>
    <h5>Making the world a better place.</h5>
</div>
<div>
    <h2>Contact Information:</h2>
    <ul>
        <li>Email: <a href="mailto:info@chatjaff.com">info@chatjaff.com</a></li>
        <li>Phone: <a href="tel:+18002428523">+1-800-CHAT-JAFF</a></li>
        <li>Address: Kirseberg Malmö Town</li>
    </ul>
</div>

@code {

}
