@page "/About"

<div>
    <h2>About ChatJaff:</h2>
    <p>ChatJaff provides a safe and reliable platform for seamless communication across different devices and platforms. Our team is dedicated to delivering the best chat website and making the world a better place and thus ensuring that our clients have the best experience possible. We use encryption to secure our users conversations and protect their privacy.</p>
</div>
<div>
    <h2>Contact Information:</h2>
    <ul>
        <li>Email: <a href="mailto:info@chatjaff.com">info@chatjaff.com</a></li>
        <li>Phone: <a href="tel:+18002428523">+1-800-CHAT-JAFF</a></li>
        <li>Address: Kirseberg Malmö Town</li>
    </ul>
</div>

@code {

}
