@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h2>Not registered?</h2>
<NavLink data-testid="reglink" class="nav-link" href="account/register">
    <span class="oi oi-person" aria-hidden="true"></span> Click here!
</NavLink>

<SurveyPrompt Title="How is Blazor working for you?" />
