@page "/account/logout"
@using ChatJaffApp.Client.Account.Contracts;
@inject NavigationManager NavigationManager
@inject CustomAuthStateProvider CustomAuthStateProvider
<PageTitle>Logout</PageTitle>
<h4>Du loggas ut...</h4>

@code {

    protected override async Task OnInitializedAsync()
    {
        await CustomAuthStateProvider.Logout();       
        NavigationManager.NavigateTo("/account/login");
    }
}
