@page "/admin/ban"
@inject AuthenticationStateProvider authenticationStateProvider;
@inject NavigationManager navManager;
@inject HttpClient http;

<div class="card">
    <h4 class="card-header">Ban user</h4>
    <div class="card-body">
        <EditForm Model="@banUser" OnValidSubmit="@HandleSubmit">
            <div class="form-group">
                <label>Email</label>
                <InputText id="email" @bind-Value="banUser.UserName" class="form-control" />
            </div>
            <button id="ban-button"  class="btn btn-warning">
                Ban
            </button>
            <NavLink id="register-link" href="account/register" class="btn btn-link">Register</NavLink>
        </EditForm>
    </div>
</div>

@code {
    private BanUser banUser = new BanUser();

    protected override async Task OnInitializedAsync()
    {
        var member = await http.GetFromJsonAsync<Member>("/api/member/B8381D75-D110-42F9-85E5-9C92A062A111");
    }
    
    public class BanUser
    {
        public string UserName { get; set; }
    }
}

